<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:component-scan base-package="com.evuntu.management.controller" />
	<mvc:annotation-driven />
	
	 <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    	 <property name="maxUploadSize" value="268435456"/>
	 </bean>
	 
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/EVENT_MANAGEMENT" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.evuntu.management.model.Customer</value>
				<value>com.evuntu.management.model.User</value>
				<value>com.evuntu.management.model.Company</value>
				<value>com.evuntu.management.model.FileDetails</value>
				<value>com.evuntu.management.model.EventServices</value>
				<value>com.evuntu.management.model.EventMaster</value>
				<value>com.evuntu.management.model.Facility</value>
				<value>com.evuntu.management.model.EventFacility</value>
				<value>com.evuntu.management.model.CustomerEventRequest</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			     <!--  <prop key="hibernate.hbm2ddl.auto">update</prop>  -->
			</props>
		</property>
	</bean>


	<bean id="txManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="persistenceExceptionTranslationPostProcessor"
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<bean id="dataDao" class="com.evuntu.management.dao.EvuntuDAOImpl"></bean>
	<bean id="dataServices" class="com.evuntu.management.services.EvuntuServiceImpl"></bean>
	
	<mvc:resources mapping="/resources/**" location="/resources/" />
	<mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/"/>
    <mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/>
    <mvc:resources mapping="/webjars/**" location="/webjars/"/>
	
</beans>